* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --flippedQuadrentColor: #FFCCCB;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: min-content min-content min-content;
}

.quadrent {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped {
    transform: rotateY(180deg);
    transition: 0.75s;
    background-color: var(--flippedQuadrentColor);
}

.message {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.reset {
    padding: 10px 15px;
}

.scores {
    display: flex;
    margin-top: 20px;
    border: 1px solid red;
}

.player1Score {
    border-right: 1px solid red;
}

.player1Score, .player2Score {
    padding: 10px 20px;
}